{% set localnets = [] %}

{% set networks = pillar.get('interfaces', {}).keys() %}
{% for network in networks %}
{% set netdata = pillar.get('network', {}).get(network, {}) %}

{% if netdata.get('local', False) %}
{% do localnets.append(netdata.ip + "/" + netdata.prefix) %}
{% endif %}

{% for local in netdata.get('local_also', []) %}
{% do localnets.append(local) %}
{% endfor %}
{% endfor %}
